{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    {% if site.portfolio_home %}
      <a href="{{ site.portfolio_home }}" class="site-title">{{ site.title }}</a>
    {% else %}
      <a href="{{ base_path }}/" class="site-title">{{ site.title }}</a>
    {% endif %}
    {% unless page.url == "/" %}
      <a href="{{ base_path }}/" class="site-title-home-mobile">Home</a>
    {% endunless %}
    <nav class="masthead__nav">
      <a href="{{ base_path }}/smolhub/">SmolHub Playground</a>
      <a href="{{ base_path }}/datasets/">Datasets</a>
      <a href="{{ base_path }}/year-archive/">BLOGS</a>
      <a href="{{ base_path }}/files/Resume-Yuvraj-Singh-2025.pdf" target="_blank" rel="noopener">CV</a>
    </nav>
  </div>
</div>
